#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  margin: 0; /* Reset any conflicting margins */
  padding: 0rem; /* Add padding inside each section */
  box-sizing: border-box; /* Ensure padding doesn't affect the section's size */
}

.copyright-information {
  color: #888;
}